@model List<Daewoo_Web_Application.Models.Terminal>

@section Styles{
<link rel="stylesheet" href="~/css/Terminals.css" />
}
@{
    ViewData["Title"] = "Terminals";
}


<div class="container ">
    <div class="row">
        <h1 class="mt-5" style="text-align:center">DAEWOO TERMINALS</h1>
        <hr class="mb-5 mt-0 d-inline-block mx-auto"
            style="width: 100px; background: linear-gradient(to right, #3a4ed5 50%, #030a6e 120%); height: 3px" />
    </div>

    <div class="row">
        <div class="d-flex flex-wrap justify-content-evenly">
            @foreach (var terminal in Model)
            {

                <div class="flex-row">
                    <div class="flex-column mb-5 col-item">
                        <div class="image">
                            <img class="image__img" src="@Url.Content(terminal.TerminalImage)" alt="@terminal.Name Terminal Image">
                            <div class="image__overlay">
                                <div class="image__title">@terminal.Name</div><br />
                                <p class="image__description">
                                    <b>Address:</b><br /><br />
                                    @terminal.Address
                                    <br /> <br /><b>Phone: </b>@terminal.Phone
                                </p>
                            </div>
                            <h3>@terminal.Name</h3>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
