@model List<Daewoo_Web_Application.Models.User>

@{
    ViewData["Title"] = "User Details";
}

<h1 class="text-center">Users Details</h1>

<div>
    <table class="table table-dark table-striped table-hover" >
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone Number</th>
             <th>CNIC Number</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Daewoo_Web_Application.Models.User user in Model)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.Name</td>
                <td>@user.Number</td>
                <td>@user.CNIC</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
</div>


