@using Daewoo_Web_Application.View_Components;
@using Daewoo_Web_Application.Models;

@model ScheduleDetails;

<table>
    <thead>
        <tr>
            <td>Departure</td>
            <td>Arrival</td>
            <td>Departure Date</td>
            <td>Departure Time</td>
            <td>Bus Type</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Departure</td>
            <td>@Model.Arrival</td>
            <td>@Model.DepartureDate</td>
            <td>@Model.DepartureTime</td>
            <td>@Model.BusType</td>
        </tr>
    </tbody>
</table>